<h4 class="m1-2 my-3" style="text-align : center">바로가기</h4>
<div class="row row-cols-1 row-cols-md-6" >
  <% for (var i = 0; i < favorite_D.length ; i++ ){ %>
    <div class="col mb-4">
        <div style="background-color: #D1DFE8;"class="card">
          <img onclick="window.open('<%= favorite_D[i].urls %>')"src="http://www.google.com/s2/favicons?domain=<%= favorite_D[i].urls %>" style="margin : 10px; margin-left: auto; margin-right: auto; display: block; height: 50px; width: 50px;" class="card-img-top" alt="...">
          <div class="card-body">
                  <!-- 바로가기의 이름을 나타낸다. -->
            <h4 class="mb-1"><%= favorite_D[i].favorite_Ns %></h4>
            <!-- 버튼을 클릭하면 등록한 url이 새창에서 열린다. -->
            <a></a>
            <!-- 바로가기의 id를 확인해서 버튼을 누를시에 바로가기가 삭제된다. -->
           <button id = "F_delete" class="btn btn-warning" style="float: right" data-id="<%= favorite_D[i]._id %>" >삭제</button>
          </div>
        </div>
      </div>

  <% } %>

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

  <script>
      // 클릭한 요소의 id 값을 
    $('#F_delete').click(function(e){
      // e.target은 클릭한 요소를 의미함
      // dataset.id는 data-id를 의미함
      var F_button = e.target.dataset.id;
      // var clicks = $(this);

      // ajax 요청, method, url, data의 값들을 가진 JSON 자료형을 넣는다.
      $.ajax({
      // 사용할 html 요청을 적는 곳
      method : 'DELETE',
      // 요청할 경로
      url : '/F_delete',
      // 어떤 데이터를 html 요청할지 작성
      data : {_id : F_button }
      // ajax 요청이 끝나면 실행될 코드들
    }).done(function(result){
      console.log('기록이 삭제 되었습니다.');
      // 삭제 버튼을 누르면 페이지가 새로고침 된다.
      window.location.reload();
      // 삭제 버튼을 누르면 해당 게시물이 표시된 li 태그를 숨긴다.
      // clicks.parent('li').fadeOut();

      // 요청이 실패했을 때 실행할 코드를 작성
      // textStatus는 응답 코드, errorThrown는 에러 메세지를 의미함.
    }).fail(function(xhr, textStatus, errorThrown){
      console.log(xhr, textStatus, errorThrown)
    });
    });


  </script>